<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Data Access Project Admin</title>
  <link rel="stylesheet" th:href="@{css/table.css}" href="../static/css/table.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
 
</head>
<body>

<span><b> salut! </b></span><span  th:text="${mavar}">vous </span>

<!--<div class= "container">
<span>Données brutes : </span><span th:text="${users}"></span>
</div >-->

<table border="1" class="table">
<!-- https://stackoverflow.com/questions/23144358/how-to-loop-through-map-in-thymeleaf -->
    <thead >
        <tr>
            <th>userId</th>
            <th>Token</th>
            <th>Expires in</th>
            <th>Refresh Token</th>
        </tr>
    </thead>
    <tbody>
    <!--<td class="ligneTableau"></span></td>-->   
        <tr th:each="entry: ${users}" class="success">
            <td class="ligneTableau" th:text="${entry.key}">-Bob</td>
            <td class="ligneTableau" th:text="${entry.value.accessToken}"></td>
            <td class="ligneTableau" th:text="${entry.value.expirationTimeMilliseconds}"></td>
            <td class="ligneTableau" th:text="${entry.value.refreshToken}"></td>
        </tr>
    </tbody>
</table>
      
</body>
</html>